@model  List<AspMvcEpamTask.Models.Article>
<table>
    @foreach (var article in Model)
    {
        <tr class="article_header">
            <td><p style="text-align:center">@article.ArticleName (@article.ArticlePublishedDate)</p></td>

        </tr>
        <tr>
            <td><p>@article.ArticleText</p></td>
        </tr>
    }
</table>
